/*** HOMEPAGE ***/
body {
  background-color: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
  background-color: #fff;
  margin: 0px;
}

.header h1 {
  text-align: center;
  font-size: 40px;
  padding: 60px 0px;
  margin: 0px;
  font-weight: bold;
}

.container, .container-fluid {
  margin-top: 20px; 
}

/* NAVIGATION */
.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
}

/* MAIN BODY */
.col-md-9 {
  padding: 0px 10px 20px 0px;
}

.col-md-3 {
  padding: 0px 0px 20px 10px;
}

.posts {
  padding: 0px;
}

.post {
  padding: 30px 15px;
  margin-bottom: 20px;
  background-color: #fff;
}

.post h5 {
  font-weight: bold;
}

.post .description {
  font-weight: bold;
}

.post img {
  width: 100%;
  padding-bottom: 15px;
}

/* SIDEBAR */
/* ABOUT ME */
.about-me {
  padding: 30px 15px;
  margin-bottom: 20px;
}

.about-me h5 {
  font-weight: bold;
  margin: 0;
  padding-bottom: 30px;
}

.sidebar img {
  width: 100%;
}

.avatar {
  padding-bottom: 30px;
}

/* INTERESTING LIST */
.interesting-list {
  padding: 30px 15px;
  margin-bottom: 20px;
}

.interesting-list h5 {
  font-weight: bold;
  margin: 0;
  padding-bottom: 30px;
}

/* SOCIAL */
.social {
  padding: 30px 15px;
}

.social h5 {
  font-weight: bold;
}

.social .fab, .social .fas {
  width: 50px;
  font-size: 30px;
  text-decoration: none;
  color: #333;
}

.social form {
  margin-top: 10px;
}

.social input {
  margin-right: 10px;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

/*** ABOUT ME PAGE ***/
.travel-img {
  padding: 15px;
}

.travel-img > div {
  padding: 0px;
}

.travel-img .col-md-6 {
  padding: 0px 15px;
}

.travel-img img {
  height: 400px;
  padding: 0px;
}

/*** CONTACT ME PAGE ***/
.contact {
  margin-bottom: 10px;
}

.contact .contact-label {
  list-style-type: none;
}

.contact .link {
  list-style-type: none;
  text-decoration: none;
}

.contact .fab, .contact .fas {
  color: #333;
}

.contact li {
  padding: 5px;
}

.contact a {
  text-decoration: none;
}

.contact p {
  display: inline;
  color: #333;
}